<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floorcorn.tickettoride">

    <!-- Permissions for network access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.views.activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.views.activities.GameListActivity"
            android:label="@string/title_game_list"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".ui.views.activities.GameDetailActivity"
            android:label="@string/title_game_detail"
            android:parentActivityName=".ui.views.activities.GameListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.floorcorn.tickettoride.ui.views.activities.GameListActivity" />
        </activity>
        <activity
            android:name=".ui.views.activities.CreateGameActivity"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".ui.views.activities.PregameActivity"
            android:label="@string/title_activity_pregame"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name=".ui.views.activities.BoardmapActivity"
            android:label="@string/title_activity_boardmap" />
    </application>

</manifest>